@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/adminlayout.cshtml";
}

<link href="~/Areas/Admin/Content/styles/pluginstyles/jquery.msgbox.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/styles/forms.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/styles/table.css" rel="stylesheet" />

@Html.Partial("_leftmenu")

<div id="page-content" class="container_12">
  <div id="page-header">
        <h1>EMLAK BİLGİLERİ</h1>
   </div>
   <section class="grid_12 form">

       <div class="box-header" ><h1>Emlak Listesi</h1>
        </div>
    </section>
</div>
       