@model web.Models.HomePageWrapperModel
@{
    Layout = "~/Views/Shared/frontlayout.cshtml";
}

<style type="text/css">
        #footer {
            position: fixed;
            bottom: 0px;
        }
    </style>
<div id="content">
    <div id="slidecaption"></div>
    <style>
        #slidecaption {
            height: 60px;
            min-width: 150px;
            max-width: 900px;
            width: expression(document.body.clientWidth < 152? "150px" : document.body.clientWidth > 902? "900px" : "auto");
            text-indent: 10px;
            color: #FFFFFF;
            background-color: #00517D;
            font: 400 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0 0 0 0;
            line-height: 30px;
        }
    </style>

</div>
